* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #000;
  perspective: 200px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: transparent;
  box-shadow: 0 0 15px #fff, 0 0 35px #3a46f1;
  border-radius: 10px;
  animation: animate 1.5s ease infinite;
  animation-direction: alternate-reverse;
}

@keyframes animate {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  50% {
    transform: rotateX(0) rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
