* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #222;
}

.container {
  position: relative;
  display: flex;
  gap: 80px;
}

.container .box {
  position: relative;
  background: #2d2d2d;
  width: 240px;
  height: 320px;
}

.container .box svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.container .box svg rect {
  fill: none;
  width: 100%;
  height: 100%;
  stroke: #9cdb28;
  stroke-dasharray: 1120 /* (2 * 240px + 320px) */;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 2.5s ease;
}

.container .box:hover svg rect {
  stroke-dasharray: 1120;
  stroke-dashoffset: 2240;
}
