* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #222;
  background-image: linear-gradient(to right, #333 1px, transparent 1px),
    linear-gradient(to bottom, #333 1px, transparent 1px);
  background-size: 4vh 4vh;
}

.cursor {
  position: absolute;
  top: 30px;
  left: 30px;
  pointer-events: none;
}

.box {
  position: absolute;
  width: 20px;
  height: 5px;
  background: #00ff9a;
  box-shadow: 0 0 15px #00ff9a, 0 0 50px #00ff9a;
}
